@use '../mixins/responsive.scss' as *;

.card {
  padding: 28px 24px;
  &--top {
    background-color: white;
    @include responsive(desktop) {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
  }

  &--middle {
    background-color: var(--secundary-color);
  }

  &--bottom {
    background-color: #4abfbc;
  }
}
