@use '../mixins/responsive.scss' as *;
.main {
  padding: 72px 32px 62px;

  @include responsive(desktop) {
    width: fit-content;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 317.5px );
    grid-template-rows: 216px, 259px;
  }
}
